<section class="collection o-container -wide">
  <h2 class="collection_title">{{ collection.title }}</h2>
  <div class="collection_grid">
    {%- for product in collection.products -%}
      {%- render 'component-product-card' product: product -%}
    {%- else -%}
      <h4 class="no-products c-heading -h2">No hay productos</h4>
    {%- endfor -%}
  </div>
</section>
