// ==========================================================================
// ## COMPONENT: FIELD
// ==========================================================================

/// @content Component specific classes for buttons.
/// This file contains suite of classes like.
//
///   .c-field {}   - Base field class.
//

.c-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 22em;
  margin: 0 auto;
  font-size: 1rem;

  &:has(select) {
    cursor: pointer;
  }

  &_label {
    cursor: pointer;
    color: #717171;
    transition: color 0.3s ease;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
  }

  &_input {
    line-height: 1;
    padding: 0.45rem 0.75rem;
    border-radius: 0.5rem;
    height: 38px;
    background-color: $color-base-background-primary;
    border: 1px solid $color-base-background-primary;
    transition: border-color 0.3s ease;
    color: #5e5e5e;
    font-weight: 500;
    font-size: 1.1rem;
    &:active{
      border-color: $color-base-secondary;
    }
  }

  &_input:active,
  &_input:focus,
  &_input:focus-visible,
  &_input:not(:placeholder-shown),
  &_input:-webkit-autofill {
    border-color: $color-base-secondary;
    box-shadow: 0 0 0 1px $color-base-secondary;
    + .c-field_label {
      color: $color-base-secondary;
    }
  }

  &.-icon{
    .c-field_input{
      padding-left: 1.5rem;
    }
  }


  &_icon{
    position: absolute;
    left: 0.5rem;
    bottom: calc(38px / 2);
    transform: translateY(50%);
    z-index: 1;
    color: #484848;
    transition: color 0.3s ease;
    width: 1.5rem;
    height: 1.5rem;
  }

  // State variations
  &.-error {
    border-color: rgba(240, 0, 0, 0.9);
  }
}
