// ==========================================================================
// ## COMPONENT: FIELD
// ==========================================================================

/// @content Component specific classes for buttons.
/// This file contains suite of classes like.
//
///   .c-field {}   - Base field class.
//

.c-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;

  &:has(select) {
    cursor: pointer;
  }

  &_label {
    order: 1;
    cursor: pointer;
    color: $color-base-text;
    transition: color 0.3s ease;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
  }

  &_input {
    order: 2;
    line-height: 1;
    padding: 0.45rem 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 38px;
    background-color: transparent;
    border: 2px solid $color-base-text;
    transition: border-color 0.3s ease;
    color: $color-base-text;
    font-weight: 400;
    font-size: 1.1rem;
    &:active{
      border-color: $color-base-secondary;
    }
    &::placeholder, &::-webkit-input-placeholder {
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }

  &_input:active,
  &_input:focus,
  &_input:focus-visible,
  &_input:not(:placeholder-shown),
  &_input:-webkit-autofill {
    border-color: $color-base-primary;
    box-shadow: 0 0 0 1px $color-base-primary;
    + .c-field_label {
      color: $color-base-primary;
    }
  }

  &.-icon{
    .c-field_input{
      padding-left: 1.5rem;
    }
  }


  &_icon{
    position: absolute;
    left: 0.5rem;
    bottom: calc(38px / 2);
    transform: translateY(50%);
    z-index: 1;
    color: #484848;
    transition: color 0.3s ease;
    width: 1.5rem;
    height: 1.5rem;
  }

  // State variations
  &.-white {
    .c-field_label {
      color: $color-base-background-primary;
    }
    .c-field_input {
      background-color: transparent;
      color: $color-base-background-primary;
      border-color: $color-base-background-primary;
      + .c-field_icon {
        color: $color-base-background-primary;
      }
      &::placeholder {
        color: rgba(var(--color-base-background-primary), 0.5);
      }
    }
    .c-field_input:active,
    .c-field_input:focus,
    .c-field_input:focus-visible,
    .c-field_input:not(:placeholder-shown),
    .c-field_input:-webkit-autofill {
      border-color: $color-base-background-primary;
      box-shadow: 0 0 0 1px $color-base-background-primary;
      + .c-field_label {
        color: $color-base-background-primary;
      }
    }
  }

  &.-error {
    border-color: rgba(240, 0, 0, 0.9);
  }
}
