// ==========================================================================
// ## COMPONENT: FIELD
// ==========================================================================

/// @content Component specific classes for buttons.
/// This file contains suite of classes like.
//
///   .c-field {}   - Base field class.
//

.c-field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 22em;
  margin: 0 auto;
  font-size: 1rem;

  &:has(select) {
    cursor: pointer;
  }

  &_label {
    cursor: pointer;
    color: $color-base-text;
    transition: color 0.3s ease;
    font-weight: 300;
    font-size: 1rem;
  }

  &_input {
    padding: 0.35rem 0.75rem;
    border: 1px solid $color-base-text;
    transition: border-color 0.3s ease;
    font-weight: 300;
    font-size: 1rem;
  }

  &_input:active,
  &_input:focus,
  &_input:focus-visible,
  &_input:not(:placeholder-shown),
  &_input:-webkit-autofill {
    border-color: $color-base-secondary;
    box-shadow: 0 0 0 1px $color-base-secondary;
    + .c-field_label {
      color: $color-base-secondary;
    }
  }


  &_icon{
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;
    transform: translateY(50%);
    z-index: 1;
    color: rgba(var(--color-base-text), 0.5);
    transition: color 0.3s ease;
    width: 1.5rem;
    height: 1.5rem;
  }

  // State variations
  &.-error {
    border-color: rgba(240, 0, 0, 0.9);
  }
}
