// ==========================================================================
// ## COMPONENT: TYPEFACE
// ==========================================================================

/// @content Component specific classes for heading.
/// This file contains suite of classes like.
///
///   .c-heading {}       - Base heading font.
///   .c-body {}          - Base body font.
///   ...add others as you wish.
///

.c-heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading-family;
  font-style: $font-heading-style;
  font-weight: $font-heading-weight;
  color: inherit;
  text-decoration: none;
  letter-spacing: 1px;
}

.c-heading {
  // Size variants
  h1,
  &.-h1 {
    font-size: rem(54px);
    line-height: 1.2;
    @media screen and (max-width: 750px) {
      font-size: rem(38px);
    }
  }

  h2,
  &.-h2 {
    font-size: rem(26px);
    @media screen and (max-width: 750px) {
      font-size: rem(22px);
    }
  }

  h3,
  &.-h3 {
    font-size: rem(19px);
  }

  h4,
  &.-h4 {
    font-size: rem(17px);
  }

  &.-bold {
    font-weight: 700;
  }

  &.upper {
    text-transform: uppercase;
  }
}

.c-body {
  font-family: $font-body-family;
  font-size: 1rem;
  color: $color-base-text;
  font-weight: 400;
  line-height: 1.5;
  @include mq-down(xs) {
    font-size: 1rem;
  }
  .default-image{
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  img,
  video,
  iframe {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  p {
    color: $color-base-text;
    font-weight: 400;
    font-size: 1Rem;
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-base-text;
    font-weight: 500;
    margin: 1.5rem 0 1rem 0;
  }
  h6 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 2rem;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ul,
  ol {
    margin-left: 1rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    li {
      font-size: 1em;
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  blockquote {
    margin-left: 1.5rem;
    border: 1px solid rgba(var(--color-base-text), 0.25);
    border-left: 3px solid $color-base-primary;
    background-color: $color-base-background-secondary;
    box-shadow: 0 0 3px 0px rgba(var(--color-base-text), 0.25);
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    p {
      margin-bottom: 0.5rem;
    }
  }
  a {
    color: $color-base-primary;
    font-size: 1em;
    text-decoration: underline;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    border: 1px solid rgba(var(--color-base-text), 0.25);
    box-shadow: 0 0 3px 0px rgba(var(--color-base-text), 0.25);
    margin-bottom: 2rem;
    td,
    th {
      border: 1px solid rgba(var(--color-base-text), 0.25);
      padding: 0.5rem;
      &:first-child {
        border-left: none;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }
      &:last-child {
        border-right: none;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }
    th {
      background-color: $color-base-background-secondary;
      color: $color-base-text;
      font-weight: 700;
    }
  }
  iframe{
    aspect-ratio: 16 / 9;
    margin-bottom: 0;
  }
}

.c-navigation{
  font-size: 1.1rem;
  font-weight: 500;
  color: $color-base-secondary;
  transition: color 0.3s ease-in-out;
  &:hover{
    color: $color-base-primary;
    text-decoration: none;
  }
}

a:focus, a:active {
  text-decoration: underline;
}
