// ==========================================================================
// ## COMPONENT: ARTICLE CARD
// ==========================================================================
@import './../settings/colors';
@import './../settings/fonts';
@import './../settings/breakpoints';
@import './../tools/functions';
@import './../tools/mixins';

.article-card {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  &:hover {
    text-decoration: none;
  }

  &_image {
    width: 100%;
    border-radius: 1rem;
    aspect-ratio: 4/3;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform 0.3s ease-in-out;
      will-change: transform;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }

  &_tag{
    position: absolute;
    z-index: 10;
    right: 1rem;
    top: 1rem;
  }

  &_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0.25rem;
  }

  &_title {
    font-weight: 400;
    font-size: 1.1rem;
    color: $color-base-primary;
    @include mq-down('md') {
      font-size: 1rem;
    }
  }

  &_excerpt{
    font-size: 1rem;
    color: $color-base-text;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_date{
    font-size: 0.9rem;
    color: rgb(39, 39, 39);
    margin-top: 0.25rem;
  }

}
