@import './../settings/colors';
@import './../settings/fonts';
@import './../settings/breakpoints';
@import './../tools/functions';
@import './../tools/mixins';

.section--benefits{
  padding-top: 4rem;
  padding-bottom: 4rem;

  .section-title{
    color: $color-base-primary;
    font-size: 1.7rem;
    font-weight: 400;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
    @include mq-down('sm'){
      max-width: 100%;
      font-size: 1.5rem;
    }
  }

  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "one two two" "one three three";
    gap: 0.5rem;
    @include mq-down('sm'){
      grid-template-columns: 1fr;
      grid-template-areas: "one" "two" "three";
    }
    .benefit{
      img{
        border-radius: 1.75rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .text{
        border-radius: 2rem;
        background-color: $color-base-background-secondary;
        padding: 2rem;
        h3{
          color: $color-base-primary;
          font-size: 1.3rem;
          font-weight: 500;
          margin-bottom: 0.5rem;
        }
        p{
          color: $color-base-text;
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
      &:nth-child(1){
        grid-area: one;
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 0.5rem;
        @include mq-down('sm'){
          display: flex;
          flex-direction: column-reverse;
        }
      }
      &:nth-child(2){
        grid-area: two;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        @include mq-down('sm'){
          grid-template-columns: 1fr;
        }
      }
      &:nth-child(3){
        grid-area: three;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        background-color: $color-base-background-secondary;
        border-radius: 1.75rem;
        overflow: hidden;
        img{
          object-fit: contain;
          object-position: end start;
        }
        @include mq-down('sm'){
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
