@import './../settings/colors';
@import './../settings/fonts';
@import './../settings/breakpoints';
@import './../tools/functions';
@import './../tools/mixins';

video-link {
  --color-primary: rgba(var(--color-base-background-primary), 1) !important;
  --color-bg: rgba(var(--color-base-accent-primary), 1) !important;
}

component-carousel {
  max-width: 100vw;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: $color-base-background-secondary;
  width: 100%;
  aspect-ratio: 3 / 1;
  @include mq-down('sm') {
    aspect-ratio: 4 / 3;
  }

  .swiper-lazy-preloader {
    display: block;
  }

  &.-filter {
    .swiper-slide::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
      z-index: 1;
      background: rgb(255, 255, 255);
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.15) 85%,
          rgba(255, 255, 255, 0) 100%);
    }
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    position: relative;

    &.-responsive {
      .desktop {
        display: block;
      }

      .mobile {
        display: none;
      }

      @include mq-down('sm') {
        .desktop {
          display: none;
        }

        .mobile {
          display: block;
        }
      }
    }
  }

  .swiper,
  .swiper-wrapper,
  .swiper-slide,
  img,
  .simpleParallax {
    height: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $color-base-background-primary !important;
    font-size: 1rem !important;
    --swiper-navigation-size: unset !important;
    width: 2rem !important;
    height: 2rem !important;

    &::after {
      font-size: 0.75rem !important;
      background-color: $color-base-primary !important;
      border-radius: 50%;
      padding: 0;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include mq-down(sm) {
      display: none !important;
    }
  }

  .swiper-button-prev {
    left: 0.5rem;
  }

  .swiper-button-next {
    right: 0.5rem;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 2rem !important;

    @include mq-down(sm) {
      bottom: 1rem !important;
    }
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $color-base-primary !important;
  }

  .text-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 2;
    .text {
      padding: 1rem 3rem;
      color: #fff;
      font-size: 1rem;
      @include mq-down('sm') {
        padding: 1rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 2.5em;
        font-weight: 500;
      }

      p {
        font-size: 1.1rem;
      }

      &.-left {
        left: 0;
        right: auto;
      }

      &.-right {
        left: auto;
        right: 0;
      }

      &.-center-x {
        left: 50%;
        transform: translateX(-50%);
      }

      .c-button {
        text-shadow: none;
        margin-top: 1rem;
      }
    }
  }
}
