@import './../settings/breakpoints';
@import './../settings/fonts';
@import './../settings/colors';
@import './../tools/mixins';
@import './../tools/functions';

.last-seen {
  position: relative;
  background-color: $color-base-background-secondary;

  h2 {
    text-align: center;
    color: $color-base-secondary;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 0.5rem;
  }

  #containerLastSeen {
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 2.5rem;
    .c-product-card {
      scroll-snap-align: center;
      flex-shrink: 0;
      margin-right: 1rem;
      margin-left: 1rem;
      width: calc(100% / 3.5 - 2rem);
      @include mq-down(xs) {
        width: calc(100% / 1.6 - 1rem);
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
    }
  }
}
