// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN RESET PASSWORD
// ==========================================================================

.reset-password form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
