@import './../settings/colors';
@import './../settings/fonts';
@import './../settings/breakpoints';
@import './../tools/functions';
@import './../tools/mixins';

.section--main-collection {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .collections-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .collection{
      &_title{
        font-size: 2.2rem;
        font-weight: 500;
        color: $color-base-primary;
        text-align: center;
        margin-bottom: 2rem;
        @include mq-down('xs') {
          font-size: 2rem;
        }
      }
      &_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2.5rem;
        transition: all 0.7s ease-in-out;
        padding-bottom: 2rem;
        &.-full {
          grid-column: 1 / -1;
        }
        @include mq-down('xs') {
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
        &.-loading {
          opacity: 0.25;
        }
      }
      .no-products {
        grid-column: 1 / -1;
        text-align: center;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: $color-base-text;
      }
    }
  }
}
