// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN BLOG
// ==========================================================================
@import './../settings/colors';
@import './../settings/fonts';
@import './../settings/breakpoints';
@import './../tools/functions';
@import './../tools/mixins';

main {
  gap: 0 !important;
}

.section--main-blog{
  padding: 3rem 0;

  .section-title{
    text-align: center;
    color: $color-base-primary;
  }

  .blog-filter{
    &_title{
      text-align: center;
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-family: $font-body-family;
      color: $color-base-text;
      font-weight: 500;
    }
    .tag-list{
      list-style: none;
      display: flex;
      gap: 0.25rem 0.5rem;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
    }
  }

  .blog-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    .blog-articles {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
      gap: 2rem;
      @include mq-down(xs) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
      }
      .no {
        grid-column: 1 / -1;
      }
    }
    .pagination {
      margin-top: 2rem;
    }
  }
}
