{{ 'section-feadtured-category.css' | asset_url | stylesheet_tag }}

{%- if section.settings.collection != blank -%}
  <div class="o-container -wide">
    {%- for product in section.settings.collection.products -%}
      {% render 'component-product-card' product: product %}
    {%- endfor -%}
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Categoria destacada",
    "tag": "section",
    "class": "section--featured-category",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Colección",
        "info": "Selecciona la colección que deseas mostrar en esta sección"
      }
    ],
    "presets": [
      {
        "name": "Categoria destacada",
        "category": "Colecciones",
        "settings": {
          "collection": "all"
        }
      }
    ]
  }
{% endschema %}
