{{ 'component-product-card-style.css' | asset_url | stylesheet_tag }}

{{ 'section-main-collection.css' | asset_url | stylesheet_tag }}


<div class="collections-wrapper" data-id="{{ section.id }}">
  {%- liquid
    assign cartridges = section.settings.cartridges_collection
    if collection.metafields.custom.cartuchos != blank
      assign cartridges = collection.metafields.custom.cartuchos.value
    endif

    if collection.id != cartridges.id
      render 'collection-grid' collection: collection, title: 'Purificadores', omit: cartridges
      render 'collection-grid' collection: cartridges, title: 'Cartuchos'
    else
      render 'collection-grid' collection: collection
    endif
  -%}
</div>

{% schema %}
{
  "name": "t:sections.collection.name",
  "class": "section--main-collection",
  "settings": [
    {
      "type": "collection",
      "id": "cartridges_collection",
      "label": "Colección de cartuchos",
      "info": "Solo visible en la vista de todos los productos"
    }
  ]
}
{% endschema %}
