{{ 'component-product-card-style.css' | asset_url | stylesheet_tag }}

{{ 'section-main-collection.css' | asset_url | stylesheet_tag }}


<div class="collections-wrapper" data-id="{{ section.id }}">
  {%- liquid
    assign cartridges = section.settings.cartridges_collection

    if collection.url != '/collections/all'
      render 'collection-grid' collection: collection
    else
      for collection in collections
        if collection.id == cartridges.id
          continue
        endif
        render 'collection-grid' collection: collection
      endfor
    endif

    if collection.id != cartridges.id
      render 'collection-grid' collection: cartridges
    endif
  -%}
</div>

{% schema %}
{
  "name": "t:sections.collection.name",
  "class": "section--main-collection",
  "settings": [
    {
      "type": "collection",
      "id": "cartridges_collection",
      "label": "Colección de cartuchos",
      "info": "Solo visible en la vista de todos los productos"
    }
  ]
}
{% endschema %}
