{{ 'section-success.css' | asset_url | stylesheet_tag }}

<div class="success o-container -narrow -medium">
  {{ page.content }}

  <a class="c-button -primary" href="/">
    Regresar al inicio
  </a>
</div>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "settings": []
}
{% endschema %}
