// ==========================================================================
// ## OBJECTS: CONTAINER
// ==========================================================================

/// @content Object classes for diffrentes container sizes.
///
///   .o-container {}          - Base container.
///   .o-container.-small {}   - Small container.
///   and others, add as you wish...
///

.o-container {
  width: 100%;
  margin: {
    left: auto;
    right: auto;
    top: 0;
    bottom: 0;
  }

  &.-small {
    padding-left: em(8px);
    padding-right: em(8px);
  }

  &,
  &.-medium {
    padding-left: em(16px);
    padding-right: em(16px);
  }

  &.-large {
    padding-left: em(32px);
    padding-right: em(32px);
  }

  &.-wide {
    max-width: 100%;
    @include mq-up('xs') {
      max-width: $breakpoint-xs;
    }
    @include mq-up('sm') {
      max-width: $breakpoint-sm;
    }
    @include mq-up('md') {
      max-width: $breakpoint-md;
    }
    @include mq-up('lg') {
      max-width: $breakpoint-lg;
    }
    @include mq-up('xlg') {
      max-width: $breakpoint-xlg;
    }
  }

  &.-narrow {
    max-width: $breakpoint-sm;
    @include mq-only('sm') {
      max-width: $breakpoint-sm;
    }
    @include mq-only('xs') {
      max-width: $breakpoint-xs;
    }
  }
}
